# Ignore everything
*

# But not these files...
!.gitignore
!.gitconfig
!.gitattributes
!.bashrc
!.vimrc
!.gvimrc
!.bash_profile
!.conkyrc
!.xinitrc
!.gitconfig
!.gdbinit
!.tmux.conf
*/
!.irssi
!.irssi/config
!.vim
!.vim/bundle
!.vim/bundle/YCM-Generator
!.vim/bundle/YCM-Generator/template.py
.vim/bundle/YCM-Generator/.gitignore
